/* 
=========================
      CSS RESET
=========================
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
ul li{list-style:none;}
a {margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; text-decoration: none; color: inherit; display: inline-block;}


/* 
=========================
    GRID SYSTEM RESET
=========================
*/

.Title,
.local_tab {
	max-width: 1000px; margin: 0 auto;
}

.local_tab {
	padding: 20px 0;
}
.Title a{
	position:absolute;
	margin: 87px 20px 61px 257px;
	display: inline-block;
    overflow: hidden;
    max-width: 40px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top
}

.article {
	margin:0 auto;
	padding-bottom: 50px;
	max-width: 1000px;
}
.section_sway_exitbus_tb {
	border-top: 2px solid #d0d0d1;
	margin-top: 20px;
	max-width: 1000px;
}

.tbs3 {
    margin-bottom: 50px;
    line-height: 20px;
}

body, input, textarea, select, button, table, pre {
    font-family: '占쎈즻占쏙옙',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
    font-size: 12px;
}

.bus_bt {
	background-color: #4b4d59;
	display:inline-block;
	position:absolute;
	margin: -71px 0px 0px 201px;
}

.time_bt {
	background-color: #4b4d59;
	display:inline-block;
	position:absolute;
	margin: -71px 0px 0px 402px;
}



