/*List 부분 CSS */

.sidelist {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top:50px;
    padding-bottom: 60px;
}

/* The navigation menu links */
.closebtn a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidelist .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidelist {padding-top: 15px;}
    .sidelist a {font-size: 18px;}
}

/* List 안에 적용될 CSS created by 은미*/
/* 
body{
	width:350px; 
	}*/
	
/* Category 관련 CSS*/
.category img {
	float:left;
	width:60px;
	height:50px;

	}
#hardy{
	float:right;
	width:60px;
	height:50px;
	
}

.category{
    position: relative;
  	padding: 2em;
   	left: 0;
   	top: 0;
	background-color:white; /*Grey*/
	padding:13px;
	height:57px;
	width:100%;
	display:inline-block;
	
}

/*아이콘클릭 효과*/
	.clickme:hover .btn_icon{display: inline;}
	.clickme:hover .btn_selected{display: none;}
	.clickme > .btn_icon{display:none;}
	.clickme > .btn_selected{display:inline;}	
	.btn_selected > .btn_icon{display: inline;}
	.btn_selected > .btn_selected{display: none;}	
	
	/*
	.clickme1:hover #r_icon{display: inline;}
	.clickme1:hover #r_selected{display: none;}
	.clickme1 #r_icon{display:none;}
	.clickme1 #r_selected{display:inline;}
	.selected1 #r_icon{display:inline;}
	.selected1 #r_selected{display:none;}

	.clickme2:hover #h_icon{display: inline;}
	.clickme2:hover #h_selected{display: none;}
	.clickme2 #h_icon{display:none;}
	.clickme2 #h_selected{display:inline;}
	.selected2 #h_icon{display:inline;}
	.selected2 #h_selected{display:none;}

	.clickme3:hover #p_icon{display: inline;}
	.clickme3:hover #p_selected{display: none;}
	.clickme3 #p_icon{display:none;}
	.clickme3 #p_selected{display:inline;}
	.selected3 #p_icon{display:inline;}
	.selected3 #p_selected{display:none;}

	.clickme4:hover #t_icon{display: inline;}
	.clickme4:hover #t_selected{display: none;}
	.clickme4 #t_icon{display:none;}
	.clickme4 #t_selected{display:inline;}
	.selected4 #t_icon{display:inline;}
	.selected4 #t_selected{display:none;}

	.clickme5:hover #pr_icon{display: inline;}
	.clickme5:hover #pr_selected{display: none;}
	.clickme5 #pr_icon{display:none;}
	.clickme5 #pr_selected{display:inline;}
	.selected5 #pr_icon{display:inline;}
	.selected5 #pr_selected{display:none;}
	*/
	#pub_result{
	display:none;}

	#hotel_result{
	display:none;}

	#tourism_result{
		display:none;}

	#park_result{
	display:none;}


/* 결과 리스트 관련 CSS*/
.section-result{
	cursor:pointer;
	margin-top:0px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
	display:inline-block;
	
}

/*Text 부분 CSS*/
.section-result-text-content
{
	float:left;
	font-size:13px;
	color:#8c8c8c;
	display:inline-block;
	line-height:16px;
	min-width:1px;
	width:300px;
	clear: left;
}
.section-result-name{
	color:#000;
	font-size:15px;
	line-height: 16px;
	white-space:normal;
	font-weight:bold;
}
.section1{
	height:90px;
}

.rating{
color: #ff8000; /*orange*/
}

.listView hr{
	width:100%;
}

.section-imgage-container {
	float:right;
	vertical-align:top;
	height:92px;
	width:80px;
	display: inline-block;
}
	